.popup-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.popup-ul{
    margin-left: 0;
    padding-left: 0;
}
.container {
    position: absolute;
    background-color: rgb(247, 247, 247,1);
    margin-top: 2.5vh;
    padding:1rem;
    border: 2px white solid;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.button-container {
    text-align: center;
    margin:0 10px 10px 10px;
}
.menu-button{
    width:50%;
    justify-content: center;
    background-color: rgb(247, 247, 247,1);
    border: none;
}
.menu-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}