.text {
  font-size: 0.75rem;
  font-weight: lighter;
}
.pop-up-item {
  max-width: 250px;
  max-height: max-content;
  padding: 0.2rem;
  border: 0 white solid;
  border-radius: 10px;
  color: #342A38;
}
.menu-icon-container {
  float: left;
  padding-top: 18px;
  margin-right: 20px;
  height:75px
}
.menu-img {
  float:left;
  height:30px;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr;
  
}
.header {
  margin:0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}